### Python ###
# Byte-compiled / optimized / DLL files
/Client/__pycache__/
/Client/*.py[cod]
/Client/*$py.class

# Distribution / packaging
/Client/.Python
/Client/build/
/Client/develop-eggs/
/Client/dist/
/Client/downloads/
/Client/eggs/
/Client/.eggs/
/Client/lib/
/Client/lib64/
/Client/parts/
/Client/sdist/
/Client/var/
/Client/wheels/
/Client/share/python-wheels/
/Client/*.egg-info/
/Client/.installed.cfg
/Client/*.egg
/Client/MANIFEST


/BUSSide/build/*